<div class="center">
  <div class="pic-holder">
    <%= image_tag @user.avatar.url(:medium) %>
  </div>
  <div class="prompt-container">
    <h1 class="question">do you know</h1>
    <h1 class="answer">but do you tho?</h1>
  </div>

  <div class="name-container">
    <h1 class="mistaken"><%= @user.mistaken_name %>?</h1>
    <h1 class="preferred">It's <%= @user.preferred_name %>.</h1>
  </div>
  <button class="btn btn-default btn-success" onclick="doyoutho()">Yes!</button>

  <div class="create-your-own">
    <a href="<%= new_user_path %>">People getting your name wrong too?</a>
  </div>
</div>

<script>
  var doyoutho = function(){
    $('button').hide();
    $('.question').fadeOut(1500);

    setTimeout(function(){
      $('.answer').fadeIn(1500);

    }, 2000);

    setTimeout(function(){
      $('.mistaken').fadeOut(2000);
      setTimeout(function(){
        $('.preferred').fadeIn(2000);
      }, 2000);
    }, 2000);
  };
</script>
